* {
    background: #3c5c8c;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin: 0px 0px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    overflow-y: auto;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main {
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
    margin-right: 180px;
    justify-content: space-between;
}

.text-area {
    width: 400px;
    border: none;
    color: #ffffff;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder { color: #ffffff; }
.text-area:focus {
    outline: none;
}

.seccion2 {
    box-shadow: 0px 24px 32px -8px rgba(11, 58, 116, 0.08);
    border-radius: 32px;
    display: grid;
    place-items: center;
    background: #ffffff;
}

.cont-mensaje {
    height: 517px;
    background: #ffffff;
    overflow: hidden;
    border-radius: 24px;
}

.mensaje {
    height: 100%;
    background: #ffffff;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0b3a74;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: #d8dfe8;
    border: 1px solid #0b3a74;
    border-radius: 24px;
    color: #0b3a74;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: #0b3a74;
    border: 1px solid #0b3a74;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.copiar {
    border: 1px solid #0b3a74;
    border-radius: 24px;
    color: #0b3a74;
    cursor: pointer;
    height: 67px;
    width: 336px;
}

.cont-info {
    display: flex;
    place-items: center;
}

.vector {
    width: 16px;
    height: 16px;
}

.info {
    color: #d8dfe8;
    font-size: 18px;
    margin-left: 10px;
}

.cont-parrafo {
    box-sizing: border-box;
    background: none;
    border: none;
    width: 367px;
    bottom: 40px;
}

.cont-parrafo h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #0b3a74;
    line-height: 120%;
    background: none;
}

.cont-parrafo p {
    font-size: 12px;
    background: none;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 150%;
    color: #696969;
    border-radius: 24px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imagenes/bg.jpg);
    padding: 30px;
    margin-top: 30px;
}

.logo-linkedin, a {
    background: none;
    width: 50px;
    height: auto;
}

.pie {
    background: none;
    color: white;
    font-size: 20px;
    margin: 20px;
}

@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
        margin: 0;
        
    }

    .cont-mensaje {
        width: 100%;
    }

    .text-area {
        width: 90%;
        height: auto;
        margin: 20px;
    }

    .mensaje {
        margin: auto;
        padding-left: 2px;
        width: 100%;
        justify-content: center;
    }

    .seccion2 {
        width: 100%;
        margin-top: 10px;
    }

    .botones{
        justify-content: space-between;
        width: 100%;
    }

    .btn-desencriptar, .btn-encriptar, .copiar {
        width: 45%;
    }

    .info {
        width: 500px;
        font-size: 18px;
        margin: 0;
    }
}

@media screen and (max-width: 850px) {
    main {
        flex-direction: column;
        margin: 0;
        
    }

    .cont-mensaje {
        width: 100%;
    }

    .text-area {
        width: 95%;
        height: auto;
    }

    .mensaje {
        margin: auto;
        padding-left: 2px;
        width: 100%;
        justify-content: center;
    }

    .seccion2 {
        width: 100%;
        margin-top: 10px;
    }

    .botones{
        justify-content: space-between;
        width: 100%;
    }

    .btn-desencriptar, .btn-encriptar, .copiar {
        width: 45%;
    }

    .info {
        width: 500px;
        font-size: 18px;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    main {
        margin: 0;
        flex-direction: column;
    }

    .cont-mensaje {
        width: 100%;
        height: auto;
    }

    .text-area {
        width: 95%;
        margin-top: 20px;
        height: auto;
    }

    .seccion2 {
        width: 100%;
        margin-top: 10px;
    }

    .mensaje {
        width: 100%;
        height: auto;
    }

    .botones {
        flex-direction: column;
        width: 100%;
    }

    .btn-desencriptar, .btn-encriptar, .copiar {
        width: 100%;
        margin: 10px 0;
    }

    .info {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    footer {
        flex-direction: column;
        padding: 20px;
    }

    .pie {
        font-size: 16px;
    }
}
